<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ml.adamsprogs.einstein">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mobile.activities.SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mobile.activities.MainMenuActivity"
            android:label="@string/title_activity_main"/>
        <activity
            android:name=".mobile.activities.HowToPlayActivity"
            android:label="@string/title_activity_how_to_play"
            android:parentActivityName=".mobile.activities.MainMenuActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainMenuActivity"/>
        </activity>
        <activity
            android:name=".mobile.activities.BoardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_board"
            android:parentActivityName=".mobile.activities.MainMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainMenuActivity"/>
        </activity>
        <activity
            android:name=".mobile.activities.EndingDialogueActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".mobile.activities.MainMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainMenuActivity"/>
        </activity>
        <activity android:name=".mobile.activities.ConnectActivity">
        </activity>
    </application>

</manifest>