<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ml.adamsprogs.einsteinplaysnodice">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/title_activity_main" />

        <activity
            android:name=".activities.HowToPlayActivity"
            android:label="@string/title_activity_how_to_play"
            android:parentActivityName=".activities.MainMenuActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".activities.BoardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_board"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>

        <activity
            android:name=".activities.EndingDialogueActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
    </application>
</manifest>
